#include "src/resource.h"

GLFW_ICON ICON "wicon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Arpeji Studio"
      VALUE "FileDescription", "Wconky"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "wconky"
      VALUE "LegalCopyright", "Arkadiusz Jarlaczyk (xoliper)"
      VALUE "OriginalFilename", "wconky.exe"
      VALUE "ProductName", "Wconky"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END